header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid black;
}
header > h1 {
  margin: 0;
  padding: 0;
}
ul.server-overview {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: calc(100vh - 60px);
}
li.server {
  flex-basis: 33%;
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.server > * {
  padding: 0 10px;
}
.server h2 {
  background-color: #777;
}
.response-container {
  border: 1px solid black;
  margin: 40px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  max-width: 25vw;
}
.response-container.ok {
  background-color: green;
}
.response-container.warn {
  background-color: yellow;
}
.response-container.critical {
  background-color: red;
}

.navs {
  display: flex;
  justify-content: center;
}
.navs li {
  list-style: none;
  font-size: 1.25rem;
}
.navs li a,span {
  padding: 0 5px 0 10px;

}
.navs li:first-child::after {
  content: '|';
}
.settings {
  display: flex;
  flex-direction: column;
}
.settings-row {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.settings-row label {
  width: 200px;
}
